<div class="center jumbotron">
    <h1>Awesome Blog App</h1>
    <p>
        Get help on this blog app at 
        <a href="https://kredo.jp/"> Kredo Japan </a> and <a href="http://framgia.ph/" >
        Framgia Philippines</a>
    </p>
</div>
