<% provide(:title, "Home") %>

<% if logged_in? %>
    <div class="row">
        <aside class="col-md-4">
            <section class="user_info">
                <%= render 'shared/user_info' %>
            </section>
            <section class="stats">
                <%= render 'shared/stats' %>
            </section>
            <div class="micropost_form">
                <%= render 'shared/micropost_form' %>
            </div>
        </aside>

        <div class="col-md-8">
            <h3>Microposts feed</h3>
            <%= render 'shared/feed' %>
        </div>
    </div>
<% else %>
    <div class="center jumbotron">
        <h1>Awesome Blog Application</h1>

        <p>This is the home page for the Awesome Blog.</p><br>
        This is a project under the <a href="https://kredo.jp/">Kredo Japan</a> and 
        <a href="http://framgia.ph/">Framgia Philippines</a> training.
    </div>
<% end %>